{% extends 'main.html'%}

{% block content%}

<h1> Feel the freshness</h1>
<div class="row">
    {% for fruits_and_veg in fruits_and_veg %}
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{fruits_and_veg.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ fruits_and_veg.name}}</h5>
              <p class="card-text">${{ fruits_and_veg.price }}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock%}